/radio/er9x/mfnts.bat
/radio/er9x/m2561.bat
/radio/er9x/mfnt.bat
/radio/er9x/m128.bat
/radio/er9x/*.bat
/radio/er9x/obj
*.bat
/radio/er9x/src/m128.bat
/radio/er9x/src/er9x.lss
/radio/er9x/src/er9x.map
/radio/er9x/src/er9x.sym
/radio/er9x/domake
/amod/*.hex
/WS_FTP.LOG
/Default.htm
/default.htm
/index.htm
/index.html
/default.html
releases
.svn
skyobj
/radio/ersky9x/src/*.hex
/radio/ersky9x/src/*.map
/radio/ersky9x/src/*.lss
/radio/ersky9x/src/*.bin
/radio/ersky9x/src/*.elf
/radio/ersky9x/src/bootloader/bootflashXp.lbm
/radio/ersky9x/src/bootloader/bootflash4.lbm
/radio/ersky9x/src/bootloader/bootflash8.lbm
/radio/ersky9x/src/bootloader/bootflashT.lbm
/radio/ersky9x/src/bootloader/bootflashTp.lbm
skyRobj
x9dobj
x9dpobj
x9eobj
/radio/er9x/*.hex
/radio/er9x/make.log
/radio/ersky9x/*.bin
/eepe/eepe/winbuildessentials/*.pdf
*.pdf
/eepe/eepe/stamp-eepe-gen
/eepe/eepe/src/*.ts
/eepe/eepe/src/*.po
eepe_es.ts
/eepe/eepskye/stamp-eepskye-gen
/eepe/eepskye/src/gen_ts
/eepe/eepe/winbuildessentials/*.exe
/eepe/eepe/winbuildessentials/eepe.exe
/eepe/eepe/winbuildessentials/QtXml4.dll
/eepe/eepe/winbuildessentials/avrdude.conf
/eepe/eepe/winbuildessentials/avrdude.exe
/eepe/eepe/winbuildessentials/libgcc_s_dw2-1.dll
/eepe/eepe/winbuildessentials/libusb0.dll
/eepe/eepe/winbuildessentials/mingwm10.dll
/eepe/eepe/winbuildessentials/QtCore4.dll
/eepe/eepe/winbuildessentials/QtGui4.dll
/eepe/eepe/winbuildessentials/QtNetwork4.dll
/radio/ersky9x/src/stamp-ersky9x.h
/radio/er9x/src/stamp-er9x.h
/eepe/eepskye/src/stamp-eepskye.h
/eepe/eepe/src/stamp-eepe.h
/ToDo.txt
/radio/ersky9x/changelog.txt
/radio/ersky9x/src/WinList.tmp
WinList.tmp
bootflashX.lbm
bootflashXp.lbm
bootflash4.lbm
bootflash8.lbm
bootflashT.lbm
bootflashTp.lbm
/radio/er9x/src/*.eep
/radio/er9x/src/*.elf
/radio/er9x/src/*.hex
/radio/er9x/src/*.map
/radio/er9x/src/*.lss
/radio/er9x/src/*.sym
skySPobj
*.zip
T167boot.map
T167boot.o
T167boot.sym
T167boot_elf.aps
t167boot_elf.aws
T167bootread.hex
T167bootread0.hex
T167bootsvn.hex
T167boot.bin
T167boot.eep
T167boot.elf
T167boot.hex
T167boot.lss
T167boot.lst
Tinyapp.lss
Tinyapp.lst
Tinyapp.map
Tinyapp.o
Tinyapp.sym
Tinyapp.eep
Tinyapp.elf
Tinyapp.hex
/radio/ersky9x/applets/ersky9x/serialflash/bin
/radio/ersky9x/applets/ersky9x/serialflash/obj
/radio/ersky9x/applets/ersky9x/CoProc/obj
/radio/ersky9x/applets/ersky9x/CoProc/applet-coprocessor-atsam3s4.zip
/radio/ersky9x/applets/ersky9x/CoProc/applet-coprocessor-atsam3s4.bin
/radio/ersky9x/applets/ersky9x/CoProc/bin
/radio/ersky9x/applets/ersky9x/serialflash/diff1.txt
dfu-util-static.exe
eepe_he.qm
eepe_pt.qm
eepe_ru.qm
eepe_de.qm
eepe_es.qm
eepe_fr.qm
eepskye.pro.user.69bf994
eepskye.pro.user.2.3pre1
eepskye.pro.linux.user
build-eepskye-Qt_5_0_2_gcc-Debug
eepskye
eepskye - Copy.pro
eePeInstall.exe
doLmake
/radio/amod328/diskioff.h
/radio/amod328/ymodem.c
/radio/amod328/amod328.c
/radio/amod328/changelog.txt
/radio/amod328/fdiskio.h
/radio/amod328/ff.c
/radio/amod328/ff.h
/radio/amod328/ff_lfn.c
/radio/amod328/ffconf.h
/radio/amod328/fffconf.h
/radio/amod328/fmmc.c
/radio/amod328/integer.h
/radio/amod328/mmc.c
/radio/amod328/pff.c
/radio/amod328/pff.h
diff1.txt
sky9XTobj
9XtremeTest1.dfu
/radio/ersky9x/src/*.BIN
*.BIN
9XtremeTest2.dfu
obj
*.dfu
/radio/ersky9x9XT_rom.bin
*.deb
R418
/radio/er9x/makev2.log
/radio/er9x/doV2make
/radio/er9x/buildV2release
temp
eepe
